<div id="contact-us" class="sign-up-form text-white ">
  <div class="sign-up-text" >
    <h1>Sign up for an inspection today!</h1>
     <p>Get in touch with our team and schedule an appointment today by filling out the form below or give us a call at 603-507-1746.
  </div>
  
</p>
  <form class="signup-form-section">
    <div class="input-group">
      <input type="text" id="signup-first-name" required />
      <label for="first-name"><i class="fa-solid fa-user"></i> First name:</label>
    </div>
    <div class="input-group">
      <input type="text" id="signup-last-name" required />
      <label for="last-name"><i class="fa-solid fa-user"></i> Last name:</label>
    </div>
    <div class="input-group">
      <input type="text" id="signup-user-name" required />
      <label for="username"><i class="fa-solid fa-user"></i> Username:</label>
    </div>
    <div class="input-group">
      <input type="password" id="signup-password" required />
      <label for="password"><i class="fa-solid fa-user"></i> Password:</label>
    </div>
    <div class="input-group">
      <input type="email" id="signup-email" required />
      <label for="email"><i class="fa-solid fa-envelope"></i>
        Your email address:</label>
    </div>

    <div class="input-group">
      <input type="tel" id="signup-telephone" required />
      <label for="phone"><i class="fa-solid fa-phone"></i> Your number:</label>
    </div>

    <div class="input-group">
      <input type="address" id="signup-street-address" required />
      <label for="address"><i class="fa-solid fa-map"></i>
        Street address:</label>
    </div>

    <div class="input-group">
      <input type="city" id="signup-city" required />
      <label for="city"><i class="fas fa-solid fa-map"></i>
        City</label>
    </div>
    <div class="input-group">
      <input type="state" id="signup-state" required />
      <label for="state"><i class="fas fa-solid fa-map"></i>
        State</label>
    </div>
    <div class="input-group">
      <input type="zip" id="signup-zip" required />
      <label for="zip"><i class="fas fa-solid fa-map"></i>
        Zip</label>
    </div>
    


    <button class="w-100 btn btn-lg btn-warning" type="submit">
      Sign-Up
    </button>
  </form>
</div>