<div class="container my-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Your peace of mind is our goal!</h1>
      <p class="lead">
        We are committed to provide you the best experience possible. Our
        inspectors have years of experience and will answer any questions you
        might have throughout the process.
      </p>
      <p class="lead">You can rest assured that we will give you all the
        information you need, with an Easy-to-Read report, with pictures and
        videos.</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/hero-pic.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="about-us">
    <h2>About Us</h2>
    <p>Stragic Investments Home Inspection was founded with the belief that a home inspection is a 
      crucial step in each and every homeownership story. A home inspection is designed to 
      assess the home you are considering buying. From the roof to the foundation and everything 
      in between, home inspectors will evaluate the overall condition of the home and provide you 
      with a detailed report.</p>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>
<div class="services-provided">

  <div id="services" class="services">
    <img
      src="../public/images/AdobeStock_97501426.jpeg"
      alt="magnifying glass over home"
      class="float-right"
    />
    <h3>Home Inspection</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet sed tenetur
      fuga quidem autem repellat natus ad placeat pariatur facere, neque rerum
      dolorem incidunt sunt, quia ipsum enim aperiam asperiores?
    </p>
  </div>

  <div id="services-two" class="services-two">
    <img
      src="../public/images/AdobeStock_2360944.jpeg"
      alt="list of things to look at for a home inspection"
      class="float-left"
    />
    <h3>Additional services</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
      consequatur, iusto recusandae exercitationem eaque soluta aliquam maiores
      non magnam perferendis, accusamus et amet nisi adipisci voluptates
      repellendus impedit, cum eum.
    </p>
  </div>

</div>

<div class="reviews">
  <h3>Satisfied Customers</h3>
  <div class="clients">
    <div class="card">
      <img src="img.jpg" />
      <h1>John Doe</h1>
      <p class="title">Satisfied Customer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        ratione aut earum veniam excepturi pariatur obcaecati quibusdam beatae,
        accusamus modi neque labore molestiae ipsa odit impedit odio repellendus
        optio tempore.</p>

    </div>

    <div class="card">
      <img src="img.jpg" />
      <h1>John Doe</h1>
      <p class="title">Satisfied Customer</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus
        labore, asperiores praesentium alias, numquam officiis voluptatibus
        aperiam totam iste qui ipsum, ad in dolorum fuga quas voluptate! Facere,
        ducimus sed.</p>

    </div>

    <div class="card">
      <img src="img.jpg" />
      <h1>John Doe</h1>
      <p class="title">Satisfied customer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        quaerat beatae culpa mollitia natus odio voluptate eius debitis
        explicabo nemo voluptates error eos nisi provident vel placeat,
        assumenda, laboriosam ab.</p>

    </div>
  </div>
</div>

<div class="sign-up-form">
  <form>

    <div class="input-group">
      <input type="text" id="name" required />
      <label for="name"><i class="fa-solid fa-user"></i> Your full name:</label>
    </div>

    <div class="input-group">
      <input type="email" id="email" required />
      <label for="email"><i class="fa-solid fa-envelope"></i>
        Your email address:</label>
    </div>

    <div class="input-group">
      <input type="tel" id="phone" required />
      <label for="phone"><i class="fa-solid fa-phone"></i> Your number:</label>
    </div>

    <div class="input-group">
      <input type="address" id="address" required />
      <label for="address"><i class="fa-solid fa-map"></i>
        Street address:</label>
    </div>

    <div class="input-group">
      <input type="city-state" id="city-state" required />
      <label for="city"><i class="fas fa-solid fa-map"></i>
        City and State:</label>
    </div>

    <div class="input-group">
      <textarea id="message" rows="8" required></textarea>
      <label for="message"><i class="fa-solid fa-message"></i>
        Your Message:</label>
    </div>

    <button type="submit">
      Sign-Up
    </button>
  </form>
</div>