<div class="container my-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Your peace of mind is our goal!</h1>
      <p class="lead">
        We are committed to provide you the best experience possible. Our
        inspectors have years of experience and will answer any questions you
        might have throughout the process.
      </p>
      <p class="lead">You can rest assured that we will give you all the
        information you need, with an Easy-to-Read report, with pictures and
        videos.</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/hero-pic.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div id="about-us" class="about-us row row-cols-12 mb-2 text-center pt-4">
    <h2 class="fw-bold fs-1">About Us</h2>
    <p class="fs-3">Stragic Investments Home Inspection was founded with the belief that a home inspection is a 
      crucial step in each and every homeownership story. A home inspection is designed to 
      assess the home you are considering buying. From the roof to the foundation and everything 
      in between, home inspectors will evaluate the overall condition of the home and provide you 
      with a detailed report.</p>
  </div>
<div id="services" class="row row-cols-12 mb-2 text-center pt-4">
    <h2 class="fw-bold fs-1">Home Inspection Packages</h2>
    <p class="fs-3">Strategic Investments Home Inspection, LLC offers three exclusive Home Inspection Packages that allow you to select the range of services you prefer. Your report is available upon the completion of your inspection, so there’s no waiting for results. You’ll also have online access to your report anytime.</p>
  </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-primary text-white py-3 border-dark">
            <h4 class="my-0 fw-bold">Essentials</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$450</h1>
            <p>This option includes our company standard covering all major items inside and outside the home.</p>
            <div class="row">
              <ul class="list-unstyled mt-3 mb-4 align-items-center text-start fs-4">
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Report Summary</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Complete Report in Digital and Printed Formats</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Shut Off Tags</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Seasonal Maintenance Checklist</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Home Filling Systems</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Customer Satisfaction Commitment</li>
              <li><i class="fa-solid fa-circle-check px-2 text-primary"></i>Estimates for Recommended Repairs</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>FloorPlan with Room Measurements</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Lifetime Maintenace Adivisory Services</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Rodent inspection where available</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Enhanced Customer Satisfaction Commitment + Guarantee</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>20% Discount Applied</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Sample Testing for Common Allergens (where qualified)</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Results Provided by a 3rd Party Laboratory</li>
            </ul>
            </div>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">SELECT PACKAGE</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header bg-success text-white py-3 border-dark">
            <h4 class="my-0 fw-bold">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$650</h1>
            <p>Our Premium Package provides everything that we deliver in our Plus Package, and much more.</p>
            <div class="row">
              <ul class="list-unstyled mt-3 mb-4 align-items-center text-start fs-4">
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Report Summary</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Complete Report in Digital and Printed Formats</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Shut Off Tags</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Seasonal Maintenance Checklist</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Home Filling Systems</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Customer Satisfaction Commitment</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Estimates for Recommended Repairs</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>FloorPlan with Room Measurements</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Lifetime Maintenace Adivisory Services</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Rodent inspection where available</li>
              <li><i class="fa-solid fa-circle-check px-2 text-success"></i>Enhanced Customer Satisfaction Commitment + Guarantee</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>20% Discount Applied</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Sample Testing for Common Allergens (where qualified)</li>
              <li><i class="fa-solid fa-circle-check px-2 text-secondary"></i>Results Provided by a 3rd Party Laboratory</li>
            </ul>
            </div>
            <button type="button" class="w-100 btn btn-lg btn-outline-success">SELECT PACKAGE</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-dark bg-warning border-dark">
            <h4 class="my-0 fw-bold">Advanced</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$800</h1>
            <p>This includes everything in our Essentials and Premium Packages as well as a 20% discount towards additional services.</p>
            <div class="row">
              <ul class="list-unstyled mt-3 mb-4 align-items-center text-start fs-4">
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Report Summary</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Complete Report in Digital and Printed Formats</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Shut Off Tags</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Seasonal Maintenance Checklist</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Home Filling Systems</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Customer Satisfaction Commitment</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Estimates for Recommended Repairs</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>FloorPlan with Room Measurements</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Lifetime Maintenace Adivisory Services</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Rodent inspection where available</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Enhanced Customer Satisfaction Commitment + Guarantee</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>20% Discount Applied</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Sample Testing for Common Allergens (where qualified)</li>
              <li><i class="fa-solid fa-circle-check px-2 text-warning"></i>Results Provided by a 3rd Party Laboratory</li>
            </ul>
            </div>
            <button type="button" class="w-100 btn btn-lg btn-outline-warning">SELECT PACKAGE</button>
          </div>
        </div>
      </div>
    </div>
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center">Added Services Strategic Home Inspections Provides</h2>
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), #3551b5), url('/images/water-test.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Water Testing</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/Logo.PNG" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Strategic Home Investments</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>LLC</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
     <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), #3551b5), url('/images/wood-destroying.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Wood Destroying Organisms</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/Logo.PNG" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Strategic Home Investments</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>LLC</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), #3551b5), url('/images/wind-mitigation.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Wind Mitigation Inspection</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/Logo.PNG" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Strategic Home Investments</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>LLC</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), #3551b5), url('/images/chemical-test.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Chemical Testing</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="/images/Logo.PNG" alt="Bootstrap" width="32" height="32">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Strategic Home Investments</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>LLC</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-m">
  <h2 class="pb-2 border-bottom text-center">Satisfied Customers</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>Fantastic service, a true professional through and through. Would absolutely recommend to anyone and everyone.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Realtor</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>Paul is highly knowledgeable, responsive and detail oriented.

                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">New Home Owner</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"> <i class="fa fa-quote-left u-color"></i>
                <p>So happy I went with Strategic Home Inspections! Paul was great and very detailed.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Real Estate Investor</span>
                        <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> </div>
                    </div>
                    <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {{>sign-up}}
</div>
