<section class="text-center form-signin w-50 m-auto sign-in">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="username" class="form-control" id="user_name" placeholder="UserName">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button id="sign-in-btn" class="w-100 btn btn-lg btn-warning" type="submit">Sign in</button>
  </form>
</section>
<script src="/js/login.js"></script>